<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>À propos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>À propos</h1>
  <p>Ce projet a été réalisé dans le cadre du cours sur Express.js.</p>
  <p>Objectif : apprendre à créer des applications web avec Node.js et EJS.</p>
  
  <a href="/">Retour à l'accueil</a>
</body>
</html>
